@font-face {
    font-family: 'MyCustomFont';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.sign-in-container {
    display: flex;
}

.left-container {
    background-color: black;
    min-width: 30%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.board-title {
    color: white;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    width: 60%;
}

.right-container h1, span {
    color: black;
}

.right-container h1 {
    /*background-color: red;*/
}

.form {
    max-width: 350px;
    /*background-color: pink;*/
}

.info {
    display: flex;
    align-items: flex-start;
    /*background-color: blue;*/
    font-size: 20px;
}

.two-btn {
    /*background-color: pink;*/
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.google-btn,
.apple-btn{
    background-color: white;
    width: 160px;
    height: 31px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: none;
}

.text{
    font-size: 10px;
    padding-top: 2px;
}

.field {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 20px;
}

.email-field,
.password-field{
    /*background-color: red;*/
    width: 100%;
}

.email-field input,
.password-field input{
    background-color: #F5F5F5;
    width: 80%;
    margin: 5px;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

/*OLD CODE*/

.field input:focus {
    border: none;
}

.email-field,
.password-field {
    margin: 20px;
    font-size: 20px;
}

.field span {
    font-size: 16px;
}

.field input {
    font-size: 16px;
}

.btn-sign-in {
    background-color: black;
    color: white;
    margin-top: 40px;
    width: 300px;
    margin-left: 18px;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.forget {
    color: blue;
    margin: 30px;
    font-size: 20px;
    cursor: pointer;
}

.last {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.last h5 {
    color: #858585;
    cursor: pointer;
}

.last span {
    color: #4150f1;
    font-style: normal;
    cursor: pointer;
    text-decoration: underline;
}

.error-display {
    color: red;
}